<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detail</title>
  </head>
  <body>
    <center>
    <h1>DETAIL</h1>
    <table border = "1">
    <tr>
      <th>ID</th>
      <td>Username</td>
      <td>Password</td>
      <td>Contact_ID</td>
      <th>Nama</th>
      <th>Company</th>
      <th>Telepon</th>
      <th>Email</th>
      <th>Back</th>
      <th>Address</th>
    </tr>
    <%data_cont.forEach(dataShow => {%>
      <tr>
        <td><%=dataShow.id%></td>
        <td><%=dataShow.username%></td>
        <td><%=dataShow.password%></td>
        <td><%=dataShow.contact_id%></td>
        <td><%=dataShow.name%></td>
        <td><%=dataShow.company%></td>
        <td><%=dataShow.telp_number%></td>
        <td><%=dataShow.email%></td>
        <td><a href="/home/profile/"> <button type="button" name="buttons">Back</button></a></td>
        <td><a href="/home/profile/address"> <button type="button" name="buttons">Go address</button></a></td>
      </tr>
    <%})%>
  </table>
</center>
  </body>
</html>
