<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit contacts groups page</title>
  </head>
  <body>
    <form action="/contactsGroups/edit/<%= dataContactsGroups[0].id %>" method="post">
      <table>
        <tr>
        <td>Contact Id: </td>
        <td>
          <select name="contacts_id">
            <option value="<%= dataContactsGroups[0].contacts_id %>"><%= dataContacts[(dataContactsGroups[0].contacts_id-1)].name%></option>
            <% dataContacts.forEach( dt =>{ %>
              <option value="<%=dt.id %>">(<%= dt.id %>). <%= dt.name %></option>
            <% }) %>
          </select>
        </td>
        </tr>
        <tr>
          <td>Group Id:</td>
          <td>
            <select name="group_id">
              <option value="<%= dataContactsGroups[0].group_id %>"><%= dataGroups[(dataContactsGroups[0].group_id-1)].name_of_group %></option>
              <% dataGroups.forEach( dt =>{ %>
                <option value="<%=dt.id %>">(<%= dt.id %>). <%= dt.name_of_group %></option>
              <% }) %>
            </select>
          </td>
        </tr>
          <td></td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
